* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrollbar-color: #484283 transparent;
    scrollbar-width: thin;
}

body {
    zoom: 75%;
    /* border: 1px solid rgb(255, 0, 0); */
}

#modal_blur_bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.);
    z-index: 998;

}

#modal_blur_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;

}

.btn_bascet_div {
    width: 480px;
    height: 91px;
    position: sticky;
    margin-top: -40px;
    background-color: #FFFFFF;
    color: #000000;
    z-index: 5;
    flex: 1;
    display: flex;
    flex-direction: column;

}


.basket_divider {
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.modal_2_div {
    width: 580px;
    height: 902px;
    display: block;
    margin-top: -40px;
    background-color: #FFFFFF;
    color: #000000;
    z-index: 7;
}

.modal_2_div_2 {
    width: 480px;
    height: 323px;
    background-color: rgb(255, 255, 255);
    z-index: 7;
    display: block;
}

.bascet_div_modal {
    position: absolute;
    width: 480px;
    height: 323px;
    margin-top: 25px;
    margin-left: -392px;
    background-color: #FFFFFF;
    color: #000000;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    z-index: 7;
    overflow-y: auto;
    overflow-x: hidden;
}

.basket_divider_close {
    position: absolute;
    width: 32px;
    height: 32px;
    margin-top: -15px;
    margin-left: 449px;
    background-color: #ff0000;
    color: #ffffff;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    cursor: pointer;

}

.bascet_div_modal {
    display: none;
}

.bascet_divider_modal_divider_slider {
    width: 480px;
    height: 120px;
    background-color: #CCD9F233;
    border: 1px solid #000000;

}

.bascet_divider_modal_divider_slider_img {
    position: relative;
    margin-top: 20px;
    margin-left: -350px;
    width: 100px;
    height: 100px;

}

.bascet_divider_modal_divider_slider_text {
    width: 228px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    margin-top: -105px;
    margin-left: 130px;
    color: #4D4D4D;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.bascet_divider_modal_divider_slider_text_2 {
    width: 62px;
    height: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4D4D4D;
    margin-top: 20px;
    margin-left: 130px;
}

.bascet_divider_modal_divider_slider_img_2 {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin-left: 400px;
    top: -50px;
}

.btn_bascet_text {
    display: block;
    color: #fff;
    width: 239px;
    height: 50px;
    background-color: #F14F4F;
    margin-left: 200px;
    border: none;
    cursor: pointer;
    margin-top: 28px;
}

.btn_bascet_text:hover {
    background-color: #ff0000;
}

.bascet_price_text {
    color: #4D4D4D;
    width: 43px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    margin-top: -55px;
    margin-left: 20px;
    cursor: pointer;
}

.bascet_price_text_2 {
    color: #4D4D4D;
    width: 72px;
    height: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: -30px;
    margin-left: 20px;
    cursor: pointer;
}

/* ---------slider bg */




header {
    height: 628px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    background-color: #484283;


}

.slider_divider {
    width: 100%;
    height: 628px;
    background: url(../public/airmax.webp) center/cover no-repeat;
    margin-top: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.slider_button_left {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 300px;
    left: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    opacity: 0.5;

}

.slider_button_left:hover {
    opacity: 1;
    transition: all 0.5s ease;
    transform: scale(1.2);
    transform-origin: 100% 100%;
}

.slider_button_right {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 300px;
    right: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    opacity: 0.5;
}

.slider_button_right:hover {
    opacity: 1;
    transition: all 0.5s ease;
    transform: scale(1.2);
    transform-origin: 100% 100%;
}

.slider_rectangle {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 600px;
    margin-left: 980px;
    background-color: #ffffff;
    border-radius: 50%;
}

.header_divider {
    width: 1180px;
    height: 44px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
    margin: 0 auto;
    z-index: 7;

    /* border: 1px solid rgb(255, 0, 0); */
}

.header_title {
    width: 145px;
    height: 24px;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 20px;
    margin-left: -5px;
    justify-content: center;
    text-align: center;
    align-items: center;

}



.header_nav {
    height: 44px;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 220px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav_link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav_link:hover {
    color: red;
    transition: ease-in-out 0.5s;

}

.header_contacts {
    display: flex;
    margin-left: 40px;
    gap: 10px;
    margin-top: 20px;
    height: 44px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.bascet_img {
    width: 20px;
    height: 18.42px;
    z-index: -1;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 24px;
}

.bascet_count {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    z-index: 2;
    top: -15px;
    left: 10px;
}

.header_line_bottom {
    border-bottom: 1px solid #FFFFFF80;
    width: 1180px;
    margin-top: 20px;
    margin-left: 370px;
    z-index: 1;
}

.main_section {
    width: 1180px;
    margin: 0 auto;
    margin-top: 40px;
    display: block;

}

.sneakmax_text_center {
    width: 980px;
    height: 200px;
    font-size: 200px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: -2;
    margin-top: 176px;
    margin-left: 455px;
    color: #FFFFFF1F;


}

.sneakers_title {
    width: 580px;
    height: 100px;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    color: #FFFFFF;

    z-index: 1;
    margin-left: 370px;
    margin-top: -260px;
    justify-content: start;
    text-align: start;

}


.sneakers_text {
    width: 480px;
    height: 44px;
    justify-content: center;
    text-align: start;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    color: #FFFFFF;
    z-index: 1;
    margin-left: 370px;
    margin-top: 20px;
}

.sneakers_button {
    width: 250px;
    height: 60px;
    justify-content: start;
    text-align: center;
    align-items: start;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #F14F4F;
    border: none;

    z-index: 1;
    margin-left: -930px;
    margin-top: 40px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.sneakers_button:hover {
    background-color: red;
    color: rgb(255, 255, 255);
}

.main_title {
    width: 1180px;
    margin-top: 140px;
    /* border: 1px solid rgb(255, 0, 0); */
    display: flex;
    gap: 20px;
}



.catalog_divider {
    margin-top: 40px;
    padding: 20px 20px;
    width: 280px;
    height: 597px;
    /* border: 1px solid rgb(255, 0, 0); */
    margin-left: -300px;
    background-color: #FFF4EE;
}

.sneakers_divider {
    margin-top: 40px;
    width: 880px;
    height: 10187px;
    /* border: 1px solid rgb(255, 0, 0); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    max-height: 1187px;
    background-color: #FFFFFF;
    z-index: -1;
}

.header_text_catalog {
    width: 280px;
    height: 44px;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    color: #000000;
    display: block;

    margin-top: -40px;
}

.catalog_divider_h3 {
    width: 240px;
    height: 48;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #444B58;
    vertical-align: middle;
}

.catalog_divider_p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    color: #444B58;
}

.catalog_divider_div {
    width: 240px;
    height: 50px;
    border: 1px solid #B2B5BB;
    border-radius: 4px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.catalog_divider_input {
    width: 100px;
    height: 48px;
    border: none;
    outline: none;
    padding-left: 42px;
    background-color: #FFF4EE;
    border-radius: 4px;

}

.catalog_divider_input_2 {
    width: 100px;
    height: 48px;
    border: none;
    outline: none;
    padding-left: 20px;
    background-color: #FFF4EE;
    border-radius: 4px;

}

.catalog_divider_input {
    outline: none;
}

.catalog_divider_input_div {
    height: 34px;
    border: 1px solid #B2B5BB;
    margin: 8px auto;
}


.catalog_divider_input_div_2 {
    display: flex;
    margin-top: 20px;



}

/* ----------mini-range---------- */
.catalog_divider_input_range_min {
    -webkit-appearance: none;
    width: 120px;
    height: 4px;
    background: #394150;
    border-radius: 4px;
    outline: none;
    margin-top: -24px;
    left: 0%;
    cursor: pointer;
    pointer-events: all;
    -webkit-appearance: none;
}


.catalog_divider_input_range_min::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 20px;
    background: #394150;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    pointer-events: all;
    -webkit-appearance: none;

}


.catalog_divider_input_range_min::-moz-range-thumb {
    width: 5px;
    height: 20px;
    background: #394150;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    pointer-events: all;
    -webkit-appearance: none;

}

.catalog_divider_input_range_min::-moz-range-track {
    background: #394150;
    height: 20px;
    border-radius: 4px;
    pointer-events: all;
    -webkit-appearance: none;

}

/* ----------------------------------- */





/* ----------max-range---------- */

.catalog_divider_input_range_max {
    -webkit-appearance: none;
    width: 120px;
    height: 4px;
    background: #394150;
    border-radius: 4px;
    outline: none;
    margin-top: -24px;

}


.catalog_divider_input_range_max::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 20px;
    background: #394150;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    pointer-events: all;
    -webkit-appearance: none;

}


.catalog_divider_input_range_max::-moz-range-thumb {
    width: 5px;
    height: 20px;
    background: #394150;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    pointer-events: all;
    -webkit-appearance: none;

}

.catalog_divider_input_range_max::-moz-range-track {
    background: #394150;
    height: 20px;
    border-radius: 4px;
    pointer-events: all;
    -webkit-appearance: none;


}

/* ----------------------------------- */







.catalog_divider_gender {
    display: block;
    width: 240px;
    height: 50px;
}

.catalog_divider_gender_div {
    display: flex;
    border: 1px;
    gap: 10px;
    margin-top: 10px;
    align-items: center;

}



.catalog_divider_gender_input {
    width: 24px;
    height: 24px;
    background-color: #FFF4EE;
    border-radius: 4px;
    border: solid #DBBBA9 1px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}


.catalog_divider_gender_input:checked {
    background-color: #FFF4EE;
}


.catalog_divider_gender_input::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #DBBBA9;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.catalog_divider_gender_input:checked::after {
    transform: rotate(45deg) scale(1);
    opacity: 1;
}


.catalog_divider_gender_p {
    width: 68px;
    height: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #444B58;
    display: block;
}

.catalog_divider_gender_p_2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #444B58;
    display: block;
    margin-top: 20px;
}

.shoe_size_div {
    width: 240px;
    height: 171px;
    border: 1px solid #B2B5BB;
    margin-top: 46px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    align-items: center;
}

.shoe_size_div_2_title {
    width: 80px;
    height: 57px;
    border: 1px solid #B2B5BB;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    background-color: #FFF4EE;
    cursor: pointer;
}

.shoe_size_div_1_title {
    width: 80px;
    height: 57px;
    border: 1px solid #B2B5BB;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    background-color: #FFF4EE;
    cursor: pointer;
}

.shoe_size_div_1_title:focus {
    background-color: #F14F4F;
    color: #fff;
}

.shoe_size_div_2_title:focus {
    background-color: #F14F4F;
    color: #fff;
}

.apply_btn_catalog_title {
    width: 239px;
    height: 60px;
    background-color: #444B58;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.apply_btn_catalog_title:hover {
    background-color: #0055de;
    cursor: pointer;
}

.apply_btn_catalog_title:active {
    background-color: #0055de;
    cursor: pointer;
}

.apply_btn_catalog_title:focus {
    background-color: #de0000;
    cursor: pointer;
}

.reset_btn_catalog_title {
    width: 72px;
    height: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #444B58;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 86px;

}

.reset_btn_catalog_title:hover {
    color: #0055de;
    cursor: pointer;
}

.reset_btn_catalog_title:active {
    color: #0055de;
    cursor: pointer;
}

.reset_btn_catalog_title:focus {
    color: #de0000;
    cursor: pointer;
}

.shoes_image_div {
    width: 280px;
    height: 349px;
    display: block;
}

.shoes_image_div:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: 0.5s;


}

.shoes_image_div_title {
    width: 258px;
    height: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #444B58;
    margin-top: 10px;
}

.shoes_image_div_price {
    width: 84px;
    height: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #444B58;
    margin-top: 10px;
}

.show_more_btn_title {
    width: 200px;
    height: 60px;
    background-color: #F14F4F;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin-left: 329px;
    margin-top: 20px;
}

.show_more_btn_title:hover {
    background-color: #de0000;
    cursor: pointer;
}

.catalog_divider_2_title {
    display: block;
}

.about_us_section {
    height: 580px;
    margin-top: 60px;
    background-color: #484283;
    display: flex;
}

.about_us_section_divider {
    width: 1180px;
    height: 580px;
    margin: 0 auto;
}


.about_us_section_divider_img {
    width: 680px;
    height: 580px;
    left: 490px;
    top: -956px;
    position: relative;
}

.cricle_about_1 {
    width: 644px;
    height: 644px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: relative;
    top: -300px;
    left: -650px;
}

.cricle_about_2 {
    width: 297px;
    height: 297px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: relative;
    top: -840px;
    left: -50px;


}

.cricle_about_3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F14F4F;
    position: relative;
    top: -910px;
    left: 210px;

}

.shoes_image_div {
    width: 280px;
    height: 360px;
    background-color: #fff;
}

.about_us_section_divider_text {
    width: 300px;
    height: 60px;
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    position: relative;
    top: -900px;
    left: 100px;
}

.about_us_section_divider_text_2 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    top: -1380px;
    left: 100px;
}

.about_us_section_divider_text_4 {
    width: 380px;
    height: 100px;
    text-align: start;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    color: #ffffff;
    position: relative;
    top: -1360px;
    left: 100px;

}

.about_us_section_divider_text_5 {
    display: flex;
    height: 20px;
    position: relative;
    top: -1340px;
    left: 380px;
    text-align: center;
    align-items: center;
    color: #ffffff;
    gap: 20px;
}

.about_us_section_divider_text_6 {
    width: 30px;
    height: 3px;
    border: 3px solid #ffffff;
    border-radius: 3px;
    top: 120px;
    left: 40px;
}

.about_us_section_divider_text_7 {
    width: 97px;
    height: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
}

.bascet_view_div {
    width: 280px;
    height: 293px;
    display: flex;
    gap: 20px;
}

.sports_shoes_section {
    width: 1180px;
    height: 678px;
    margin: 60px auto;
    display: block;
    background-color: #FFF4EE;
    padding: 40px 100px;
}

.sports_text_title {
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: start;
    color: #444B58;
    
}

.sports_text_p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #808080;
    margin-top: 20px;
}

.sports_title_line {
    width: 980px;
    height: 1px;
    margin-top: 10px;
    background: #808080;
    border: 1px solid #808080;
}

.sports_shoes_section_divider_text {
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #444B58;
    margin-top: 20px;
}

.sports_shoes_section_divider_text_2 {
    width: 980px;
    height: 372px;

    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.sports_shoe_divider {
    width: 280px;
    height: 154px;
}

.sports_shoe_text_input {
    width: 24px;
    height: 24px;
    background-color: #FFF4EE;
    border-radius: 4px;
    border: solid #DBBBA9 1px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}
.sports_shoe_text_input::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #DBBBA9;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.sports_shoe_text_input:checked {
    background-color: #FFF4EE;
}
.sports_shoe_text_input::marker {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border:1px solid #DBBBA9 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sports_shoe_text_input:checked::after{
    transform: rotate(45deg) scale(1);
    opacity: 1;
}
.sports_shoe_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #444B58;
    align-items: center;
    text-align: center;
    margin-top: 4px;
}

.sports_shoe_title {
    width: 97px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.sports_shoes_section_divider_text_3{
    display: flex;
    margin-top: 33px;
    justify-content: space-between;
}

.sports_shoes_section_divider_bottom_line{
    width: 980px;
    height: 1px;
    margin-top: 40px;
    background: #808080;
    border: 1px solid #808080;
}

.sports_shoes_section_divider_text_5{
    width: 211px;
    height: 50px;
    border-radius:4px;
    border: 1px solid #444B58;
    margin-top: -20px;
    background-color: #C4C4C400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #444B58;
    cursor: pointer;
    text-align: center;
    padding: 15px 20px;
}
.sports_shoes_section_divider_text_5:hover{
    background-color: #444B58;
    color: #ffffff;
}

.sports_shoes_section_divider_text_4{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #808080;
    
}


  
.warning_p_product_shoes{
    color: red; 
    display: none;
}

.page1{
    display: block;
    transition: all 0.5s ease;
    transform: scale(1);
}

.page2{
    display: none;
    transition: all 0.5s ease;
    transform: scale(0);
}